.header_link-button:focus {
    color: #FDBF5A;
}

.map {
    width: 100%;
    height: 100%;
    background-color: #FFE4C4;
    display: flex;
    flex-direction: column;
}

.logo2 {
    width: 269px;
    height: 61px;
}

.logo-block2 {
    margin-left: 27px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.map-block {
    width: 100%;
    height: 100%;
    display: flex;
    padding-bottom: 102px;
}

.header {
    background-color: #1C1A19;
    width: 100%;
    height: 102px;
    display: flex;
    justify-content: space-between;
}

.header_list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 50px;
    list-style-type: none;
    width: 294px;
}

.header_link-button {
    color: white;
    background-color: #1C1A19;
    border: none;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 400;
    cursor: pointer;
}